body{
    margin: 0;
    padding: 0;
}
#GG:hover{
color: aqua;
background-color: #201d1d;
}
        /*  general styling on the body */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        
        /* Navbar styles */
        nav {
            background-color: #333;
            padding: 10px;
           
        }
        
        nav ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
        }
        /*margin between the elements*/
        nav li {
            margin: 0 15px;
        }
        
        /*style of the elemnts*/
        nav a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
        
        /* Section styles */
        section {
            padding: 40px;
            text-align: center;
        }
        
        /* Home Section styles */
        #home {
            background-image: url('bg.jpg'); 
            background-size: cover;
            color: #111010;
            padding: 100px 0;
        }
        
        #home h1 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        
        /* About Section styles */
        #about {
            background-color: #fff;
            color: #333;
        }
        
        /* Work Section styles */
        #work {
            background-color: #f0f0f0;
            color: #333;
        }
        
        /* Resume Section styles */
        #resume {
            background-color: #fff;
            color: #333;
        }
        
        /* Contact Section styles */
        #contact {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
        
        /* Footer styles */
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
       
        #hover:hover{
            color: blue;
        }
